%p
  = error_message_on @article, :title, :prepend_text => 'Title '
  = label_tag :title, 'Tytuł'
  = form.text_field :title, {:class => 'article'}

%p
  = error_message_on @article, :introduction, :prepend_text => 'Introduction '
  = label_tag :introduction, 'Zajawka'
  %br
  = form.text_area :introduction, :size => '60x5'

%p
  = error_message_on @article, :content, :prepend_text => 'Content '
  = label_tag :content, 'Treść'
  %br
  = fckeditor_textarea('article', 'content', :toolbarSet => 'Easy', :width => '454px', :height => '400px')
