= title @article.title 

#page-index
  %h1 artykuły

  .Container
    = link_to image_tag('scroll-down.png', :alt => 'na dół'), '', {:class => 'Scrollbar-Down', :onclick => "return false;", :onmouseover => "startScroll(0, 5);", :onmouseout => "stopScroll();"}
    = link_to image_tag('scroll-up.png', :alt => 'do góry'), '', {:class => 'Scrollbar-Up', :onclick => "return false;", :onmouseover => "startScroll(0, -5);", :onmouseout => "stopScroll();"}

    #Scroller-1
      .Scroller-Container
        %h2= @article.title
        = @article.content

    %p.back
      = link_to 'powrót', articles_path, {:title => 'Powrót do artykółów'}

