= title 'Kontakt'

#page-kontakt
  %h1 kontakt
      
  .adres
    %h2 RIGHT-MOVE.PL
    %p
      Nieruchomości komercyjne i mieszkaniowe
      %br
      ul. Kunickiego 5 - pokój 201
      %br
      30-134 Kraków
     
    %p.contact
      Telefon/fax: 012 42 30 550
      %br
      Email: 
      = mail_to 'biuro@right-move.pl'
      %br
      NIP: 642-241-37-91
      %br
      REGON: 120612339

  .osoba
    = image_tag('jolanta.jpg', :alt => 'Jolanta Depa')
    %h2 Jolanta Depa - Łydka
    %p
      Pośrednik licencja 7223
      %br
      GSM 693 662 995
      %br
      = mail_to 'jolanta@right-move.pl'
        
  .osoba
    = image_tag('jan-rympel.jpg', :alt => 'Jan Rympel')
    %h2 Jan Rympel
    %p
      Doradca ds. nieruchomości

      GSM 693 662 955
      %br
      = mail_to 'jan@right-move.pl'
