Typ:
= @params.type

Kategoria:
= @params.category

Imię i nazwisko:
= @params.firstname + ' ' + @params.lastname

Telefon:
= @params.phone

Miasto:
= @params.city

Dzielnica:
= @params.district

Ulica
= @params.street

Cena:
= "od: #{@params.price_from} do: #{@params.price_to}"

Cena za metr:
= "od: #{@params.price2_from} do: #{@params.price2_to}"

Powierzchnia:
= "od: #{@params.area_from} do: #{@params.area_to}"

