%ul#nav-top
  %li= link_to 'Strona główna', root_path, {:title => 'Start'}
  %li= link_to 'O nas', about_path, {:title => 'O nas'}
  %li= link_to 'Artykuły', articles_path, {:title => 'Artykuły'}
  %li= link_to 'Kariera', career_path, {:title => 'Kariera'}
  %li= link_to 'Kontakt', contact_path, {:class => 'last', :title => 'Kontakt'}

